<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <style>
      body {
    font-family: Arial, sans-serif;
    background-color: #f3f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 100%;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    color: #828a9f;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 14px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d9e6;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}


.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #4b7bec;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button[type="submit"]:hover {
    background-color: #3a5fce;
}

.signup {
  font-size: 12px;
}

    </style>
</head>
<body>
    <div class="login-container">
        <h2>Welcome Back!</h2>
        <p>Login to your account</p>
        <form action="/user/login" method="post">
            <div class="input-group">
                <label for="email">Email *</label>
                <input type="email"  name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password *</label>
                <input type="password" name="password" required>
            </div>
            <div class="actions">
                <label>
                    <input type="checkbox" name="remember"> Remember me
                </label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit">Login</button>
            <a class="signup"  href="/signup">Dont have account? Create an accoount </a>
        </form>
    </div>
</body>
</html>

